/* Colors sourced from: https://www.iamsajid.com/colors/ */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root 
{    
    --ff: "Syne", sans-serif;
    --ff2: "Fira Code", monospace;
    --h1: 800 2rem/1.2em var(--ff);
    --p: 400 1rem/1.5em var(--ff);
    --p-code: 300 .7rem/2em var(--ff2);
    --hue: 0;
    --color-primary: hsl(259, 50%, 10%);
    --color-secondary: hsl(259, 50%, 90%);
    --color-tertiary: hsl(319, 80%, 80%);
    --color-accent: hsl(125, 80%, 80%);
    --color-sidebar: hsl(259, 50%, 15%);
    --color-header-footer: hsl(260, 67%, 16%);

    --color-info: hsl(207, 100%, 30%);
    --background-info: hsl(195, 100%, 87%);  

    --color-success: hsl(103, 100%, 23%);
    --background-success: hsl(82, 66%, 85%);  

    --color-warning: hsl(36, 100%, 31%);
    --background-warning: hsl(48, 97%, 85%);

    --color-error: hsl(357, 100%, 42%);
    --background-error: hsl(0, 100%, 86%);

    --sb-width: 18rem;
}

.light-mode
{
    --color-primary: hsl(259, 50%, 90%);
    --color-secondary: hsl(259, 50%, 15%);
    --color-tertiary: hsl(319, 80%, 20%);
    --color-accent: hsl(145, 30%, 74%);
    --color-sidebar: hsl(264, 64%, 74%);
    --color-header-footer: hsl(263, 82%, 89%);
}

/* Stop page animations while page is loading */
.preload *
{ 
    transition: none !important;
    animation-duration: 0.001s !important; 
}

body 
{
    /* width: 90%;
    max-width: 1080px;
    margin: 40px auto;
    display: flex;
    height: 80vh;
    align-items: center;
    gap: 20px; */
    display: flex;
    flex-direction: column;
    min-height: 95.8vh;

    background: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--ff);
    font: var(--p);
}

/* Header and Footer*/

#header,
#footer,
main
{
    padding: 0 1rem 0 1rem;
    transition:
        margin-left 0.3s ease;
}

#header,
#footer 
{
    display: flex;
    min-height: 2rem;
    margin-right: -0.5rem;

    background: var(--color-header-footer);
    color: var(--color-secondary);
}

#header 
{
    margin-bottom: 2rem;
    inset: 0 auto 0 0;
}

#footer
{
    margin-top: 5rem;
    inset: 0 auto 0 0;
}

/* Content */

main {
    flex: 1;
}

body.sb-collapsed {
    --sb-width: 5rem;
}

a 
{
    font: 800 1rem/1em var(--ff);
    color: var(--color-accent);
    text-underline-offset: 4px;
}

h1 
{
    font: var(--h1);
}

/* Navigation */
.sidebar 
{
    background: var(--color-sidebar);
    position: fixed;
    inset: 0 auto 0 0;
    padding: 1rem;
    width: var(--sb-width);
    padding: 0rem 2rem 0rem 0rem;
    transition: 
        width 0.3s ease,
        height 0.3s ease;
}

.sidebar nav 
{
    height: 100%;
    cursor: pointer;
}

.sidebar nav ul 
{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
}

/* Update elements when sidebar is collapsed */
:not(body.sb-collapsed) .sidebar nav a span {
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
}

body.sb-collapsed .sidebar nav a span {
    opacity: 0;
    visibility: hidden;
}

body.sb-collapsed aside .fa-angle-double-left {
    rotate: 180deg;
}

.sidebar nav a 
{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 16pt;
    text-decoration: none;
    color: var(--color-accent);
    transition:
        background-color 0.3s ease, 
        color 0.3s ease;
}

.sidebar nav a.active-page,
.sidebar nav a:hover,
.sidebar nav a:focus-visible 
{
    color: var(--color-sidebar);
    background-color: var(--color-accent);
}

/* Seperate out the first child to act as a collapse icon */
.sidebar nav li:first-child
{
    margin-bottom: 3rem;
}

/* Seperate out the last child to act as a dark mode toggle */
.sidebar nav li:last-child
{
    margin-top: auto;
    padding-bottom: 2rem;
    text-wrap: nowrap;
}

/* Screen size controls */

/* Small Size Devices */
@media only screen and (max-width: 600px) 
{
    #header
    {
        margin-top: 4.5rem;
    }
    #footer 
    {
        margin-bottom: -1.8rem;
    }
    main,
    #header,
    #footer 
    {
        margin-left: -0.5rem;
    }
    :not(body.sb-collapsed) .sidebar nav ul
    {
        flex-flow: column;
        gap: 1rem;
    }
    body.sb-collapsed .sidebar nav ul
    {
        flex-flow: row;
        gap: 0.6rem;
    }
    :not(body.sb-collapsed) .sidebar
    {
        width: 100%;
        height: 100%;
    }
    body.sb-collapsed .sidebar
    {
        width: 100%;
        height: var(--sb-width);
        overflow-y: hidden;
        overflow-x: auto;
    }    
    .sidebar nav a
    {    
        width: 50%;
    }
    body.sb-collapsed .sidebar nav a span 
    {
        position: absolute;
        height: 0;
        width: 0;
        overflow: visible;
    }    
    body.sb-collapsed .sidebar nav li:last-child
    {
        position: fixed;
        right: 0;
        padding-right: 2rem;
        margin-top: 0;
    }
}
/* Specific width breakpoint for dark mode toggle visibility*/
@media only screen and (max-width: 464px) 
{
    .sidebar nav li:last-child
    {
        visibility: hidden;
    }
    body.sb-collapsed .sidebar nav li:last-child
    {
        position: fixed;
        right: 0;
        padding-right: 2rem;
        margin-top: 0;
    }    
}

/* Medium Size Devices */
@media only screen and (min-width: 600px)
{
    main,
    #header,
    #footer
    {
        margin-top: -0.5rem;
        padding-left: 2.5rem;
        margin-left: 5rem;
    }
    #footer 
    {
        margin-bottom: -1.8rem;
    }
}

/* Extra Large Devices */
@media only screen and (min-width: 1200px)
{
    main,
    #header,
    #footer
    {
        padding-left: 2.5rem;
        margin-left: var(--sb-width);
    }
    #footer 
    {
        margin-bottom: -2rem;
    }
}